header {
  background-color: #292b2e;
  color: floralwhite;
  font-family: 'Roboto Mono', monospace;
  padding: 2%;
}
header a:link {
  color: floralwhite;
}

/* visited link */
header a:visited {
  color: whitesmoke;
}

/* mouse over link */
header a:hover {
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* selected link */
header a:active {
  color: gainsboro;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #f7f9fc;
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
}

.navbar a {
  float: left;
  width: 25%;
  padding: 0px 20px;
  text-align: center;
  box-sizing: border-box;
}
.title {
  padding: 1%;
}

.base {
  padding: 0px;
  margin: 0px;
}

.leftcolumn {
  float: left;
  width: 15%;
}

.midcolumn {
  display: flex;
  flex-direction: column;
}
.card {
  background-color: white;
}