header {
  background-color: rgb(255, 255, 255);
  color: #292b2e;
  font-family: sans-serif;
  padding: 2%;
  border-style: none none solid none;
  border-width: 2px;
  box-shadow: 1px 0px 3px#292b2e;
}

header a {
  text-decoration: none;
  border-width: 2px;
  border-style: none none none solid;
}

header a:first-child {
  border-style: none;
}

a:link {
  color: #1b1b1b;
}

a:visited {
  color: #333333;
}

a:hover {
  color: black;
  text-shadow: 0px 0px 1px #292b2e;
}

a:active {
  color: rgb(131, 131, 131);
}

.title a {
  color: black;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
  height: 100%;
  flex: auto;
  margin-top: 15px;
}

.base {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav a {
  float: left;
  width: 25%;
  padding: 0px 20px;
  text-align: center;
  box-sizing: border-box;
}

.linkbar {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.linkbarContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15%;
}

.title {
  width: 100%;
  padding: 1%;
}

.leftcolumn {
  margin-left: 2%;
  max-width: 20%;
}

.midcolumn {
  width: 60%;
}

.card,
.boxSticky {
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 3px #292b2e;
  background-color: white;
}

.card {
  margin: 0 1%;
  margin-bottom: 15px;
  min-height: 300px;
  padding: 2.5% 5%;
  display: flex;
  flex-direction: column;
}

.card h1,
.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.boxSticky {
  display: block;
  color: black;
  padding: 5%;
  margin: 0 5%;
  position: sticky;
  top: 15px;
}

.boxSticky h2 {
  text-align: center;
}

.post {
  flex: 1;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img[src*="cropped"] {
  height: 400px;
  object-fit: cover;
}

.banner {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggler-container {
  margin-left: 20%;
}

.toggler {
  cursor: pointer;
  user-select: none;
}

.nested {
  position: relative;
  left: 10px;
}

.icon {
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .iconHeader {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: white;
  color: 000000;
  font-family: sans-serif;
  border-style: solid none none none;
  border-width: 2px;
  box-shadow: -1px 0px 3px#292b2e;
  padding: 2%;
}


@media all and (max-width: 950px) {
  main {
    flex: 1;
  }

  .cardContainer {
    height: 100%;
  }

  .midcolumn {
    width: 95%;
    margin: auto;
  }

  .leftcolumn {
    display: none;
  }

  .base {
    justify-content: center;
  }

  header a {
    min-height: 36px;
  }

  nav a {
    font-size: calc(12px + 0.5vw)
  }
}
